
.lFooter {
  background-color: #25282A;
  display: flex;
  width: 100%;
  box-sizing: border-box;
}
.lFooter > div {
  display: flex;
  color:white;
  align-items: center ;
  font-size: 11px;
  padding: 15px;
}
.footerLinks {
  width: 100%;
  justify-content: left;
}
.footerLinks + div {
  width: 180px;
  justify-content: right;
}
.footerLinks + div > a {
  padding-left: 10px; 
  padding-right: 10px;
}
.footerLinks > a {
  padding-left: 10px;
  padding-right: 10px;
  border-right:solid 1px rgba(200, 200, 200,0.5);
  color: white;
  text-decoration: none;
}
.footerLastLink {
  border: none!important;
}
/*--- on hover --------- */


/*----- responsive managment zone... ------------------ */
@media screen and (max-width: 1025px) {
  .lFooter {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .footerLinks {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}